@import url(normalize.min.css);
@import url(variables.css);
@import url(fuentes.css);
/* #General */
.hidden {
  display: none !important;
}
a.not-a {
  text-decoration: none;
  color: inherit;
}
a.not-a:visited {
  text-decoration: none;
  color: inherit;
}
/* Barra de Navegación */
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
  gap: unset;
  padding: var(--xxxl) var(--xxl);
  border-bottom: 1px solid var(--very-lite-pink);
}
header nav .btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--l) var(--xl) var(--l) var(--xl);
  margin: var(--l);
  border: 1px solid transparent;
  transition: color 320ms;
}
header nav .btn:hover {
  border-radius: var(--xl);
  color: var(--hospital-green);
  border: 1px solid transparent;
}
header nav .title {
  font-family: Quicksand;
  padding: var(--l);
}
header nav .icon {
  width: 30px;
  object-fit: none;
  padding: var(--l);
}
header nav .right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  gap: var(--xl);
}
header nav .left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  gap: var(--xl);
}
@media (min-width: 730px) {
  header nav div.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: unset;
    flex-wrap: unset;
    gap: var(--xl);
    font-family: Quicksand;
    min-width: 150px;
    position: absolute;
    background-color: white;
    top: 60px;
    right: 45px;
    border: 1px solid;
    padding: var(--xxl) var(--xxxl) var(--xxl) var(--xxl);
    border-radius: var(--xl);
  }
  header nav div.dropdown hr {
    display: block;
    width: 100%;
  }
  header nav div.dropdown .exit {
    color: var(--hospital-green);
  }
  header nav .menu {
    display: none;
  }
}
@media (max-width: 729px) {
  header nav .btn,
  header nav div.dropdown {
    display: none;
  }
}
main {
  margin-top: var(--xxxl);
}
main .card-container .card {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: unset;
  gap: var(--l);
  padding: var(--xxxl);
  margin: var(--xl);
  border-radius: var(--l);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  max-width: 320px;
}
main .card-container .card img {
  border-radius: var(--xxl);
  width: 100%;
  object-fit: cover;
}
main .card-container .card .bottom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
  gap: unset;
}
