@import url(normalize.min.css);
@import url(variables.css);
@import url(fuentes.css);
/* #General */
.inactive,
.hidden {
  display: none;
}
/* Barra de Navegación */
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
  gap: unset;
  padding: var(--xxxl) var(--xxl);
  border-bottom: 1px solid var(--very-lite-pink);
}
header nav .btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--l) var(--xl) var(--l) var(--xl);
  margin: var(--l);
  border: 1px solid transparent;
}
header nav .btn:hover {
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
  border-radius: var(--xl);
}
header nav .title {
  font-family: Quicksand;
  padding: var(--l);
}
header nav .icon {
  width: 30px;
  object-fit: none;
  padding: var(--l);
}
header nav .right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  gap: var(--xl);
}
header nav .left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  gap: var(--xl);
}
@media (min-width: 730px) {
  header nav .menu {
    display: none;
  }
}
@media (max-width: 729px) {
  header nav .btn {
    display: none;
  }
}
/* Menu en Desktop */
