:root {
    /*? Colores */
    --white: #ffffff;
    --black: #000000;
    --very-lite-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    /*? Tamaños */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --l: 0.2rem;
	--xl: 0.4rem;
	--xxl: 0.8rem;
	--xxxl: 1.2rem;
	--xxxxl: 2.2rem;
	--xxxxxl: 4.2rem;
}